* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 4rem 2px;
    width: 22rem;
    background-color: #e7e2e2;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 13px;
    box-shadow: 4px 3px 12px 0px;
    border: none;
}

.container:hover {
    transform: scale(1.01);
}

.screen {
    margin: 2rem 1rem;
    padding: 25px 25px;
    width: 18rem;
    height: 5rem;
    background-color: rgb(200, 216, 213);
    border: 1px solid;
    border-radius: 14px;
    border: none;
    box-shadow: inset 1px 4px 20px 0px;
}

.screen {
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: end;
}

.screen:hover {
    transform: scale(1.01);
}

.hero {
    padding: 13px 33px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: gray;
    gap: 1rem 1rem;
    margin-bottom: 1rem;

}

.box {
    padding: 1.2rem 1.3rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    box-shadow: 4px 3px 12px 0px;
}

.box .container .screen {
    transition: tranform 1s ease 1s;
}

.box:hover {
    transform: scale(1.05);
}
