*{
            padding: 0;
            margin: 0;
            font-family: 'Circular Std', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            
        }

        body {
            background-color: var(--maincolor);

        }

        :root {
            --maincolor: #121212;
            --seccolor: #1f1f1f;
            --whitetext: rgba(255, 255, 255, 0.507);
            --whitecolor: white;
            --mainbaground: #1b1a1a;
            --green: #1ED760;
            --rightleftbut: #121212;
            --transparent: rgba(255, 255, 255, 0.08);
        }

        body {
            border-radius: 15px;
        }

        .navbar {
            display: flex;
            background-color: var(--maincolor);
            justify-content: space-between;
        }

        .logo {
            display: flex;
            align-items: center;
        }

        .logoimg {
            width: 5rem;
            height: 3.5rem;
        }

        .home {
            color: var(--whitetext);
            margin: 2px 1rem;
            cursor: pointer;
            transition: transform 0.1s ease;
            font-size: 33px;
            display: flex;
            padding: 7px;
            background-color: var(--seccolor);
            border-radius: 60px;
        }

        .middle {
            display: flex;
            align-items: center;
            margin-left: 18rem;
            position: relative;
            color: var(--whitetext);
        }

        #search {
            padding: 15px 0px;
            padding-right: 18rem;
            padding-left: 3rem;
            border-radius: 20px;
            background-color: var(--seccolor);
            color: var(--whitetext);
            margin: 10px 0px;
            cursor: pointer;
        }

        .icon {
            position: absolute;
            left: 93px;
            font-size: 30px;
            display: flex;
            align-items: center;
            transition: transform 0.1s ease;
            background-color: var(--seccolor);
        }

        .navlinksright {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 1rem;
            color: var(--whitetext);
            font-weight: bold;
            cursor: pointer;
        }

        .navlinksright li {
            transition: transform 0.1s ease-in-out 0s;
        }

        .icon2 {
            font-size: 40px;
        }

        .login {
            padding: 15px 34px;
            margin: 4px 0px;
            margin-right: 20px;
            border-radius: 25px;
            cursor: pointer;
            transition: transform 0.1s ease;
            background-color: white;
        }

        .home:hover {
            transform: scale(1.1);
            color: white;
        }

        .navlinksright li:hover {
            transform: scale(1.1);
            color: white;
        }

        .icon:hover {
            transform: scale(1.1);
            color: white;
        }

        .login:hover {
            transform: scale(1.15, 1.1);
        }

        .main {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .library {
            min-height: calc(100vh - navbarheight);
            width: 24vw;
            background-color: var(--mainbaground);
            margin: 10px 7px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
        }

        .hero {
            width: 74.7vw;
            height: 90vh;
            background-color: var(--mainbaground);
            margin: 10px 7px;
            border-radius: 5px;
        }

        .ltop {
            display: flex;
            justify-content: space-between;
        }

        .lt {
            color: var(--whitecolor);
            margin: 1.3rem 2rem;
            display: flex;
            align-items: center;
            gap: 3px;
            font-size: 18px;
        }

        .create {
            background-color: var(--seccolor);
            padding: 0.7rem;
            border-radius: 20px;
        }

        .create {
            cursor: pointer;

        }

        .create:hover {
            background-color: #2c2929;
        }

        .createplaylist {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
        }

        .card {
            background-color: var(--seccolor);
            margin: 0px 10px;
            padding: 1.3rem 1rem;
            color: var(--whitecolor);
            border-radius: 12px;
        }

        .card1 p {
            row-gap: 1rem;
            margin: 0.4rem 0rem;
        }

        .card2 p {
            row-gap: 1rem;
            margin: 0.4rem 0rem;
        }

        .lbut {
            padding: 5px 8px;
            margin: 5px auto;
            border-radius: 19px;
            cursor: pointer;
            font-weight: bolder;
            transition: transform 0.2s ease;
        }

        .lbut:hover {
            transform: scale(1.05);
        }

        .lfooter {
            max-width: 18vw;
            font-size: 11px;
            display: flex;
            flex-wrap: wrap;
            column-gap: 1.2rem;
            row-gap: 1rem;
            color: var(--whitetext);
            margin-top: auto;
            margin-left: 1.5rem;
            margin-bottom: 0.6rem;
        }

        .coo {
            max-width: 18vw;
            font-size: 11px;
            column-gap: 1.2rem;
            row-gap: 1rem;
            color: var(--whitecolor);
            margin-top: 1rem;
            margin-left: 1.5rem;
            margin-bottom: 0.6rem;

        }

        .coo .co {
            cursor: pointer;
            display: inline;
        }

        .coo .co:hover {
            text-decoration: underline;
        }

        .lfooter p {
            cursor: pointer;
        }

        .lang {
            margin: 0px auto;
            margin: 0rem 1.5rem;
            margin-top: 2rem;
            margin-bottom: 5rem;
        }

        .Lan {
            display: flex;
            align-items: center;
            padding: 10px 18px;
            border-radius: 20px;
            background-color: var(--maincolor);
            color: var(--whitecolor);
            gap: 8px;
            cursor: pointer;
            transition: transform 0.2s ease;
            font-weight: bolder;
        }

        .Lan:hover {
            transform: scale(1.08);
        }

        .Lan svg {
            font-size: 22px;

        }

        .p2 {
            font-size: small;
        }

        .htop {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        .heading {
            color: var(--whitecolor);
            margin: 2rem 2rem;
            font-size: 29px;
            cursor: pointer;
        }

        .show {
            margin: 2rem 2rem;
            color: var(--whitecolor);
            cursor: pointer;
        }
        .show:hover,.heading:hover{
            text-decoration: underline;
        }

        .songs {
            display: flex;
            gap: 1.2rem;
            overflow-x: auto;
            scroll-behavior: smooth;
            margin-left: 2rem;
            align-items: flex-start;
        }
        .songs.no-left{
            -webkit-mask-image: linear-gradient(to right,
            black 0%,
            black 95%,
            transparent 100%
            );

            mask-image: linear-gradient(to right,
            black 0%,
            black 95%,
            transparent 100%
            );
        }
        .songs.both{
            -webkit-mask-image: linear-gradient(to right,
            transparent 0%,
            black 5%,
            black 95%,
            transparent 100%
            );

            mask-image: linear-gradient(to right,
            transparent 0%,
            black 5%,
            black 95%,
            transparent 100%
            );
        }
        .songs.no-right{
            -webkit-mask-image: linear-gradient(to right,
            transparent 0%,
            black 0%,
            black 100%
            );
            mask-image: linear-gradient(to right,
            transparent 0%,
            black 0%,
            black 100%
            );
        }

        .song {
            /* width: 171.5px; */
            /* height: auto; */
            border-radius: 12px;
            display: flex;
            flex: 0 0 14%;
            transition: background 0.3s ease;
            flex-direction: column;
            /* position: relative; */
        }

        .songs {
            -ms-overflow-style: none;
            scrollbar-width: none;
            height: auto;
        }

        .song img {
            width: 175px;
            height: 175px;
            margin: 12px;
            border-radius: 5px;
        }

        .song h4 {
            color: var(--whitecolor);
            padding: 0rem 0.3rem;
            margin: -0.5rem 0.5rem;
            cursor: pointer;

        }
        .song h4:hover{
            text-decoration: underline;
            
        }

        .songinfo {
            display: flex;
            color: gray;
            padding: 0.3rem 0.3rem;
            font-size: small;
            column-gap: 0.5rem;
            row-gap: 0.5rem;
            margin-left: 0.5rem;
            margin-top: 0.9rem;
            flex-wrap: wrap;
            overflow-x: hidden;
            cursor: pointer;
        }
    
        .songinfo p:hover ,.artist-name:hover {
            text-decoration: underline;
        }

        .songname {
            font-size: medium;
        }

        .song:hover {
            background-color: var(--transparent);
        }

        .imgwrapper {
            position: relative;
        }

        .play {
            position: absolute;
            bottom: 15%;
            right: 10%;
            background: var(--green);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: transform 0.2s ease 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;

            opacity: 0;
            transition: opacity 0.2s ease, transform 0.3s ease;
            transform: translateY(20px);
        }

        .song:hover .play {
            opacity: 1;
            transform: translateY(0);
        }

        .song:hover .imgwrapper:hover .play:hover {
            transform: translateY(0) scale(1.08);
            background-color: #17fa66;

        }

        .play svg {
            font-size: 28px;
        }

        .songs-wrapper {
            position: relative;
        }

        .left,
        .right {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
            background: rgba(0, 0, 0, 0);
            border: none;
            cursor: pointer;
            border-radius: 100%;
            margin: 0rem 1rem;
        }

        .left {
            left: 0;
        }

        .right {
            right: 0;
        }

        .left svg,
        .right svg {
            font-size: 30px;
            color: var(--whitetext);
            background-color: var(--rightleftbut);
            border-radius: 50%;
        }

        .left svg:hover,
        .right svg:hover {
            color: var(--whitecolor);
        }

        .songs::-webkit-scrollbar {
            display: none;
        }
